*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1180px;
    margin: 0 auto;
}




/*  */
.game_main{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.game_content{
    display: inline-block;
    margin-right: auto;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(236, 236, 236);

}





/*  */
.game_content div{
    display: flex;
    align-items: center;
}
.game_content div span{
    display: inline-block;
}





/*  */
.game_content_two{
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(236, 236, 236);
}
.game_content_two div{
    display: flex;
    align-items: center;
}




/*  */
.game_content div img{
    margin-right: 10px;
}
.game_content_two div img{
    margin-right: 10px;
}



/*  */
.game_content:hover{
    border-color: rgb(173, 51, 51);
    transition: all 0.5s;
}
.game_content_two:hover{
    border-color: rgb(173, 51, 51);
    transition: all 0.5s;
}



